<h3>Animal's Current Details</h3>
<hr/>
<p>Name: <%=@animal.name()%></p>
<hr/>
<p>Species: <%=@animal.species%></p>
<hr/>
<p>Breed: <%=@animal.breed%></p>
<hr/>
<p>Adoptable: <%=@animal.adoptable%></p>
<hr/>
<p>Admission date: <%=@animal.admission_date%></p>
<hr/>

<h3>Change Animal details</h3>

<form action="/animals/<%=@animal.id%>" method="POST">
  <input type="hidden" name="id" value="<%=@animal.id%>"/>

<div>
  <label for="name">Name:</label>
  <input type="text" name="name" value="<%=@animal.name%>"/>
</div>

<div>
  <label for="species">Species:</label>
  <input type="text" name="species" value="<%=@animal.species%>"/>
</div>

<div>
  <label for="breed">Breed:</label>
  <input type="text" name="breed" value="<%=@animal.breed%>"/>
</div>

<div>
  <label for="adoptable">Adoptable</label>
  <select name="adoptable" id="animalSelect">
    <option value=true>Yes</option>
    <option value=false>No</option>
  </select>
</div>

<div>
  <label for="admissionDate">Admission Date:</label>
  <input type="date" name="admission_date" value="<%=Date.parse(@animal.admission_date)%>"/>
</div>

  <input type="submit" value="Submit">

</form>
