
<section>
<h3>Animal Details</h3>

<hr/>
<p>Name: <%=@animal.name()%></p>
<hr/>
<p>Species: <%=@animal.species%></p>
<hr/>
<p>Breed: <%=@animal.breed%></p>
<hr/>
<p>Adoptable: <%=@animal.adoptable%></p>
<hr/>
<p>Admission date: <%=@animal.admission_date%></p>
<hr/>
</section>

<p><a href="/animals/<%=@animal.id%>/edit">Edit Animal Details</a></p>

<!-- <form action="/animals/<%=@animal.id%>/delete" method="post">
  <input type="submit" value="delete"/>
</form> -->
